<div class="card text-center">
    <div class="card-header bg-dark text-white">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Testing Version - Beta</h5>
      <p class="card-text">Thank you for visiting the site. We are currently on beta testing.</p>
      <p>We are looking forward to get your feedback, so to add your masjid and to provide feedback please contact @ <a href="">mdshujaat98@gmail.com</a></p>
    </div>
    <div class="card-footer bg-dark text-white">
      © Jama'at Time @2020
    </div>
  </div>