<div id="container">

    <div id="masjidContainer">

        <span class="d-block p-2 bg-dark text-white" style="margin-bottom: 1em;">Masjid Anjuman</span>

        <div id="masjid" class="justify-content-center">

            <div class="card" id="masjidCard" style="width: 40%;">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.9745366105763!2d77.3091531!3d28.6904083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb6e5513c321%3A0x30dfe89ceeb11e84!2sMasjid%20Anjuman!5e0!3m2!1sen!2sin!4v1605893839901!5m2!1sen!2sin" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="card-body">
                  <h5 class="card-title">Masjid Anjuman</h5>
                  <p class="card-text">Janta Flats, GTB Enclave, Dilshad Garden, Delhi, 110093.</p>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                  <tr class="bg-dark text-white">
                    <th scope="col">Salah</th>
                    <th scope="col">Jama'at Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Fajr</th>
                    <td>6:20 AM</td>
                  </tr>
                  <tr>
                    <th scope="row">Dhuhr</th>
                    <td>1:30 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">Asr</th>
                    <td>4:15 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">Maghrib</th>
                    <td>5:30 PM</td>
                  </tr>
                  <tr>
                    <th scope="row">Isha</th>
                    <td>7:45 PM</td>
                  </tr>
                </tbody>
              </table>

        </div>        

        

    </div>

    <div id="prayerTimingsContainer" >
        <span class="d-block p-2 bg-dark text-white" style="margin-bottom: 1em;">Time Starts At</span>
        <div class="d-flex justify-content-center">
            <iframe id="iframe" title="prayerWidget" class="widget-m-top" style=" height: 358px; border: 1px solid #ddd;" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/1273294/hanafi/3/0/18.0/18.0"> </iframe>
        </div>
        
    </div>

</div>
  